
<div class="dgc-painel">
  <div class="dgc-painel-header">
      <span>Regras Projeção</span>
      <button class="btn btn-primary btn-sm dgc-botao-comando dgc-direita" (click)="edita()">novo</button>
  </div>
  <div *ngIf="listaBase" class="dgc-painel-principal">
      <div class="dgc-card" *ngFor="let item of listaBase">
          <div class="dgc-card-header">
            <span>{{item.codigoRegraProjecao}}</span>
            <span class="dgc-direita">#{{item.id}}</span>
          </div>
          <div class="dgc-card-detalhe">
              <div>Tipo: {{item.tipoCompraVenda}}</div>
              <div>Target: {{item.target}}</div>
              <div>Stop: {{item.stop}}</div>
              <div>Limite Saída: {{item.diaLimite}} dias</div>
              <div>Dataset:</div>
              <div>Percentual para entrada:{{item.percentualEntradaDataset}}</div>
              <div>Posição índice de horário:{{item.indiceHoraReferenciaDataset}}</div>
          </div>


          <div class="dgc-card-comandos">
              <button class="btn-primary btn-sm btn" (click)="edita(item)">Editar</button>
          </div>
      </div>
  </div>
</div>
