
<div class="dgc-painel">
  <div class="dgc-painel-header">
      <span>Grupos Redes</span>
      <button class="btn btn-primary btn-sm dgc-botao-comando dgc-direita" (click)="edita()">novo</button>
  </div>
  <div *ngIf="listaBase" class="dgc-painel-principal">
      <div class="dgc-card" *ngFor="let item of listaBase">
          <div class="dgc-card-header">
            <span><a routerLink='/grupoRegraDetalhe/{{item.id}}'>{{item.nome}}</a></span>
            <span class="dgc-direita">#{{item.id}}</span>
          </div>
          <div class="dgc-card-detalhe">
              <div>Quantidade: {{item.quantidade}}</div>
          </div>
          <div class="dgc-card-detalhe">
            <div>Entradas: {{item.entrada1}}/{{item.entrada2}}</div>
          </div>

          <div class="dgc-card-comandos">
              <button class="btn-primary btn-sm btn" (click)="dialogo1({'origem' : item})">Escolhe Rede</button>
              <button class="btn-primary btn-sm btn" (click)="edita(item)">Editar</button>
          </div>
      </div>
  </div>
</div>