<div class="dgc-painel">
  <div class="dgc-painel-header">
    <span>Tipo Exemplo Treino</span>
    <div class="dgc-direita">
      <button class="btn btn-primary btn-sm dgc-botao-comando" (click)="atualiza()">atualiza</button>&nbsp;&nbsp;&nbsp;
      <button class="btn btn-primary btn-sm dgc-botao-comando" (click)="edita()">novo</button>
    </div>

  </div>
  <div *ngIf="listaBase" class="dgc-painel-principal">
    <div class="dgc-card" *ngFor="let item of listaBase">
      <div class="dgc-card-detalhe">
        #{{item.id}}
      </div>
      <div class="dgc-card-detalhe">
        Dias: <span>{{item.qtdeDias}}</span>
      </div>
      <div class="dgc-card-detalhe">
        Posição Referência: <span>{{item.posicaoReferencia}}</span>
      </div>
      <div class="dgc-card-header">
        Ações
      </div>
      <div class="dgc-card-detalhe">
        <span>De: {{item.diaNumInicio}}</span> 
        <span>Até: {{item.diaNumFinal}}</span>
      </div>
      <div class="dgc-card-detalhe">
        Gera Exemplo: <span>{{item.geraExemplo}}</span>
      </div>
      <div class="dgc-card-detalhe">
        DiaNum Inicial Exemplo: <span>{{item.diaNumExemploEntradaInicio}}</span>
      </div>
      <div class="dgc-card-detalhe">
        Atualização: <span>{{item.diaNumAtualizado}}</span>
      </div>
      <div class="dgc-card-header">
        Índice
      </div>
      <div class="dgc-card-detalhe">
        Gera Exemplo: <span>{{item.geraExemploIndice}}</span>
      </div>
      <div class="dgc-card-detalhe">
        Data Inicial Exemplo: <span>{{item.diaNumInicioEntradaIndice}}</span>
      </div>
      <div class="dgc-card-detalhe">
        <span>De: {{item.diaNumInicioIndice}}</span> 
        <span>Até: {{item.diaNumFinalIndice}}</span>
      </div>
      <div class="dgc-card-comandos">
        <button class="btn-primary btn-sm btn" (click)="edita(item)">Editar</button>
      </div>
    </div>
  </div>
</div>