<div class="dgc-painel">
  <div class="dgc-painel-header">
      <span>Experimento Simulação</span>
      <button class="btn btn-primary btn-sm dgc-botao-comando dgc-direita" (click)="edita()">Novo Experimento</button>
  </div>
  <div *ngIf="listaBase">
      <div class="dgc-card" *ngFor="let item of listaBase">
          <div class="dgc-card-header">
              <span>{{item.codigo}}</span>
              <a routerLink="/combinacaoExperimento/{{item.id}}" class="dgc-direita dgc-direita-com-botao">{{item.quantidadeCombinacao}} combinações</a>
              <button class="btn-primary btn-sm btn" *ngIf="(item.permiteEdicao==0)" [routerLink]="['/execucaoSimulacaoPorExperimento' , item.id]" >Resultados</button>
          </div>
          <div class="dgc-card-detalhe"> 
            <span>Grupo Ação: {{item.grupoAcao.nome}}</span>
          </div>
          <div class="dgc-card-detalhe">
            <span>Regra: {{item.regraSimulacao.nome}}</span>
          </div>
          <div class="dgc-card-detalhe">
            <span>Período: {{item.dataInicial}} até {{item.dataFinal}}</span>
          </div>
          <div class="dgc-card-detalhe">
            <div><span>Períodos:</span></div>
            <div *ngFor="let periodo of item.experimentoSimulacaoPeriodos">
              <div><span>{{periodo.periodoExperimento.dataStrInicial}} até {{periodo.periodoExperimento.dataStrFinal}}</span></div>
            </div>
          </div>

          <div class="dgc-card-detalhe">
            <table>
              <tr *ngFor="let parametro of item.experimentoParametros">
                <td width="20%">{{parametro.parametroRegra.nome}} ({{parametro.parametroRegra.siglaDescricao}})</td>
                <td width="15%">{{parametro.inicial}}</td>
                <td width="15%">{{parametro.final}}</td>
                <td width="15%">{{parametro.passo}}</td>
                <td width="10%"><a *ngIf="(item.permiteEdicao==1)" (click)="dialogo1({'item' : parametro})" class="dgc-link">alterar</a></td>
              </tr>
            </table>
          </div>
          
 
          <div class="dgc-card-comandos" *ngIf="(item.permiteEdicao==1)">
            <button class="btn-primary btn-sm btn" (click)="gerarCombinacao(item)">Gerar Combinações</button>
            <button class="btn-primary btn-sm btn" (click)="edita(item)">Editar Experimento</button>
          </div> 
          <div class="dgc-card-comandos" *ngIf="(item.permiteEdicao==0)">
            <button class="btn-primary btn-sm btn" (click)="dialogo2({'origem' : item })">Períodos</button>
          </div>

      </div>
     
  </div>
</div>
