<div class="dgc-painel" *ngIf="listaBase">
  <div class="dgc-painel-header">
    <span>Grupo Treino: {{treinoGrupoRede.grupoAcao.nome}} ({{listaBase.length}})</span>
    <button class="btn btn-primary btn-sm dgc-botao-comando dgc-direita" (click)="atualizaDatas()">Atualiza Datas</button>
    <button class="btn btn-primary btn-sm dgc-botao-comando dgc-direita" (click)="criaTreino()">Cria Treinos</button>
  </div>
  <div class="dgc-comando-correcao">
    <div>{{treinoGrupoRede.periodoTreinoRede.nome}}</div>
    <div>
      <span class="dgc-label-80">Treino:</span>
      {{converteData(treinoGrupoRede.periodoTreinoRede.diaNumInicioTreino)}} até {{converteData(treinoGrupoRede.periodoTreinoRede.diaNumFinalTreino)}}
      ( {{treinoGrupoRede.periodoTreinoRede.quantidadeDiaTreino}} dias )
    </div>
    <div>
      <span class="dgc-label-80">Validação:</span>
      {{converteData(treinoGrupoRede.periodoTreinoRede.diaNumInicioValidacao)}} até {{converteData(treinoGrupoRede.periodoTreinoRede.diaNumFinalValidacao)}}
    </div>
    <div>
      <span class="dgc-label-80">Teste:</span>
      {{converteData(treinoGrupoRede.periodoTreinoRede.diaNumInicioTeste)}} até {{converteData(treinoGrupoRede.periodoTreinoRede.diaNumFinalTeste)}}
      ( {{treinoGrupoRede.periodoTreinoRede.quantidadeDiaTeste}} dias )
    </div>
    <div>
      <span>Limites Trades: </span>
      {{treinoGrupoRede.periodoTreinoRede.minimoTradeTeste}} até {{treinoGrupoRede.periodoTreinoRede.maximoTradeTeste}}
    </div>
  </div>
  <div class="dgc-comando-correcao">
    15 0,3,6,9,12,15,18  * * * python3 /root/executa-rede/previsao-teste.py > previsao-teste.log  (limite corte)
  </div>
  <div *ngIf="listaBase" class="dgc-painel-principal">
    <div class="dgc-card dgc-card1" *ngFor="let itemRegra of listaBase">

      <div class="dgc-card-header">
        <div>{{itemRegra.regraProjecao.codigoRegraProjecao}} (#{{itemRegra.regraProjecao.id}})</div>
        <!--
        <div class="dgc-direita">
          <button class="btn btn-primary btn-sm dgc-botao-comando dgc-direita" (click)="atualizaRegra(itemRegra.regraProjecao.id)">Atualiza</button>
        </div>
        -->
      </div>
      <div class="dgc-card-detalhe">
        <div>Pegou para processar: {{itemRegra.regraProjecao.dataHoraAcesso  | date : 'dd/MM/yyyy' : 'UTC'}}</div>

        <div *ngIf="itemRegra.regraProjecao.treinoRedes[0].prontoSaidaFinalizado==0">
          Exemplo Saída Até: {{itemRegra.regraProjecao.maiorDataProcessamento  | date : 'dd/MM/yyyy' : 'UTC' }}
        </div>
        <div class="dgc-vermelho" *ngIf="itemRegra.regraProjecao.treinoRedes[0].prontoDataTeste==0 && itemRegra.regraProjecao.treinoRedes[0].prontoDataTreino==0 && itemRegra.regraProjecao.treinoRedes[0].prontoSaidaFinalizado==1">
          Exemplo Saída Até: {{itemRegra.regraProjecao.maiorDataProcessamento  | date : 'dd/MM/yyyy' : 'UTC' }}
        </div>
        <div class="dgc-amarelo" *ngIf="itemRegra.regraProjecao.treinoRedes[0].prontoDataTeste==0 && itemRegra.regraProjecao.treinoRedes[0].prontoDataTreino==1 && itemRegra.regraProjecao.treinoRedes[0].prontoSaidaFinalizado==1">
          Exemplo Saída Até: {{itemRegra.regraProjecao.maiorDataProcessamento  | date : 'dd/MM/yyyy' : 'UTC' }}
        </div>
       
        <div class="dgc-verde" *ngIf="itemRegra.regraProjecao.treinoRedes[0].prontoDataTeste==1 && itemRegra.regraProjecao.treinoRedes[0].prontoDataTreino==1 && itemRegra.regraProjecao.treinoRedes[0].prontoSaidaFinalizado==1">
          Exemplo Saída Até: {{itemRegra.regraProjecao.maiorDataProcessamento  | date : 'dd/MM/yyyy' : 'UTC' }}
        </div>
 

        <div>Última Finalização: {{itemRegra.regraProjecao.ultimaInsercao  | date : 'dd/MM/yyyy' : 'UTC' }}</div>
        <div><span class="dgc-label-120">Exemplos:</span>{{itemRegra.regraProjecao.exemploQuantidadeSaida }}</div>
        <div><span class="dgc-label-120">Classe0:</span>{{itemRegra.regraProjecao.exemploPercentualClasse0  | number : '1.1-1' }}% ({{itemRegra.regraProjecao.exemploQuantidadeClasse0}})</div>
        <div><span class="dgc-label-120">Classe1:</span>{{itemRegra.regraProjecao.exemploPercentualClasse1  | number : '1.1-1' }}% ({{itemRegra.regraProjecao.exemploQuantidadeClasse1}})</div>
        <div><span class="dgc-label-120">Com Saída:</span>{{itemRegra.regraProjecao.exemploPercentualResultado  | number : '1.1-1' }}% ({{itemRegra.regraProjecao.exemploQuantidadeResultado}})</div>
        <div>Quantidade Ticker: {{itemRegra.regraProjecao.quantidadeTicker}}</div>

        <div>Validados: {{itemRegra.regraProjecao.quantidadeValidada}}</div>
        <div>Prioridade: {{itemRegra.regraProjecao.prioridade}}</div>
      </div>

      <div class="dgc-card dgc-card2 {{classeAtivo(item)}}" *ngFor="let item of itemRegra.regraProjecao.treinoRedes">
  
        <div class="dgc-card-header">
          <span>{{item.redeNeural.nome}}</span>
          <span class="dgc-direita {{precisaTreino(itemRegra,item)}}"># {{item.id}}</span>
        </div>
 
        <div class="dgc-card-detalhe">
          <span>Treino: {{item.dataTreinamento  | date : 'dd/MM/yyyy HH:mm' : 'UTC' }}</span>
        </div>


        <div *ngIf="itemRegra.regraProjecao.ultimaInsercao && (itemRegra.regraProjecao.treinoRedes[0].temDataParaTreinar==0)" class="dgc-card-detalhe">
          <span>1 - Aguardando dados de saída</span>
        </div>
        <div *ngIf="itemRegra.regraProjecao.ultimaInsercao && !item.dataTreinamento && (itemRegra.regraProjecao.treinoRedes[0].temDataParaTreinar==1)" class="dgc-card-detalhe">
          <span>2 - Aguardando treinamento</span>
        </div>
        <div *ngIf="item.dataTreinamento && !item.dataTeste" class="dgc-card-detalhe">
          <span>3 - Aguardando dados de score</span>
        </div>
        <div *ngIf="item.dataTreinamento && item.dataTeste && item.ativoPrevisaoTeste==1" class="dgc-card-detalhe">
          <span>4 - Ajustando limite corte</span>
        </div>


        <div class="dgc-card-detalhe {{pendente(item.ativoTeste)}}">
          <div>
            <span>Score Teste: {{item.dataTeste  | date : 'dd/MM/yyyy HH:mm' : 'UTC' }}</span>
          </div>
          <div>&mu;: {{item.mediaValorTeste | number : '1.2-2'}}  &sigma;: {{item.desvioValorTeste | number : '1.2-2'}}</div>
        </div>

        <div class="dgc-card-detalhe {{pendente(item.ativoPrevisaoTeste)}}">
          <div>
            <span>Teste: {{item.dataPrevisaoTeste  | date : 'dd/MM/yyyy HH:mm' : 'UTC' }} </span>
          </div>
          <div>
            Trades: {{item.qtdeTradeTeste}} ({{item.qtdeLucroTeste}} x {{item.qtdePrejuizoTeste}}) 
            {{ ((item.qtdeLucroTeste / item.qtdeTradeTeste)*100) | number : '1.0-0' }}%
            >{{item.limiteParaEntrada | number : '1.2-2'}}
          </div>
          <div>Pontos: {{item.pontuacaoTeste | number : '1.0-0'}}</div>
        </div>

        <div  class="dgc-card-comandos">
          <img class="dgc-esquerda" *ngIf="itemRegra.regraProjecao.tipoCompraVenda=='C'" src="assets/img/compra.png" width="32" height="32">
          <img class="dgc-esquerda" *ngIf="itemRegra.regraProjecao.tipoCompraVenda=='V'" src="assets/img/venda.png" width="32" height="32">
          <button class="btn-primary btn-sm btn" (click)="ativaPrevisaoTeste(item)">Reset</button>
       </div>
  
       <div>

      
    </div>
  </div>
</div>