li {
    width: 100%;
}

.novo-menu p{
    background-color: #eee;
    font-family: Montserrat;
    color: black!important;
}

.subtitulo {
    text-transform: none!important;
    font-weight: 300!important;
}