<div class="dgc-painel">
  <div class="dgc-painel-header">
    <span>Monitoradas</span>  
  </div>
  <div class="dgc-painel-principal" *ngIf="listaBase">
    <div class="dgc-card" *ngFor="let item of listaBase" >
      <div class="dgc-card-header">
        <span  class="dgc-link" (click)=trades(item)>{{item.ticker}}</span>
        <span class="dgc-direita">{{item.quantidadeLucro}} x {{item.quantidadePrejuizo}}</span>
      </div>
      <div class="dgc-card-detalhe">
        Entrada: {{item.precoEntrada | number: '1.2-2'}} ({{item.dataNumEntrada}})
      </div>
      <div class="dgc-card-detalhe">
        <span class="{{classeTargetCompra(item)}}">+ {{valorSaidaLucro(item)  | number: '1.2-2'}} ({{pontoSaidaLucro(item)  | number: '1.2-2'}})</span>
      </div>
      <div class="dgc-card-detalhe">
        - {{valorSaidaPrejuizo(item)  | number: '1.2-2'}} ({{pontoSaidaPrejuizo(item)  | number: '1.2-2'}})
      </div>
      <div class="dgc-card-detalhe {{classePreco(item)}}">
        Atual: {{item.precoAtual | number: '1.2-2'}} (F: {{item.precoAtualF | number: '1.2-2'}})
      </div>
      <div class="dgc-card-detalhe">
        <span>t: {{item.target}}  s: {{item.stop}}</span>
      </div>
      <div class="dgc-card-detalhe" *ngIf="(item.valorMonitorias.length>1) && item.valorMonitorias[1].posicao==1">
        <span>{{item.valorMonitorias[1].pontoEntrada | number: '1.2-2'}} --> </span>
        <span class="{{classeStop(item)}}"> {{item.valorMonitorias[1].valorStop | number: '1.2-2'}} ({{percStop(item) | number: '1.1-1'}}%)</span>
        <span class="{{classeTarget(item)}}"> {{item.valorMonitorias[1].valorTarget | number: '1.2-2'}} ({{percTarget(item) | number: '1.1-1'}}%)</span>
      </div>
      <div class="dgc-card-detalhe" *ngIf="(item.valorMonitorias.length>1) && item.valorMonitorias[1].posicao==0">
        <span>fora</span>
      </div>
      <div class="dgc-card-detalhe">
        <span>Mês: {{item.ativoAcao.min1Mes | number: '1.2-2'}} - {{item.ativoAcao.max1Mes | number: '1.2-2'}}</span>
      </div>
      <div class="dgc-card-detalhe">
        <span>Pontos: {{item.resultado}}</span>
      </div>
      <div class="dgc-card-detalhe">
        <span>{{item.regraSimulacao.nomeClasse}}</span>
      </div>
      <div clas="dgc-card-detalhe">
        <a class="dgc-direita dgc-link" routerLink="/valorMonitoriaExecucao/{{item.id}}">acompanhamento</a>
      </div>
    </div>
  </div>
</div>
