<div class="dgc-card" *ngIf="listaPrevisao" >
  <div class="dgc-card-header">
      <span *ngIf="!rede.grupoAcaoId">{{rede.id}}</span>
      <span *ngIf="rede.grupoAcaoId">{{rede.redeNeural.nome}} - {{rede.regraProjecao.codigoRegraProjecao}} (#{{rede.id}})</span>
     

  </div>
  <div class="dgc-card-detalhe">
    <div>Pontuação: {{rede.pontuacaoTeste}}</div>
    <div>Placar: {{rede.qtdeLucroTeste}} x {{rede.qtdePrejuizoTeste}}</div>
    <div>Limite: {{rede.limiteParaEntrada | number: '1.2'}}</div>
    <div>Execução: {{rede.qtdeLucroExecucao}} x {{rede.qtdePrejuizoExecucao}}</div>
    <div>Pontuação Execução: {{rede.pontuacaoExecucao}}</div>
  </div>
  <div>
    <div>
      <img *ngIf="rede.regraProjecao.tipoCompraVenda=='C'" src="assets/img/compra.png" width="32" height="32">
      <img *ngIf="rede.regraProjecao.tipoCompraVenda=='V'" src="assets/img/venda.png" width="32" height="32">
    </div>
    <span  *ngFor="let previsao of listaPrevisao">
        {{previsao.ticker}}: {{previsao.valorPrevisao | number: '1.2-2'}} 
        <span class="dgc-link" *ngIf='(previsao.valorPrevisao > rede.limiteParaEntrada)' (click)="telaCompra(previsao)">
          ({{previsao.precoEntrada | number: '1.2-2'}})
        </span> ; 
    </span>
    <div>
      <div  *ngFor="let trade of rede.tradeTreinoRedes">
        <div>
          <span>{{trade.ticker}} Entrada: {{trade.precoEntrada | number:'1.2-2' }} ({{trade.diaNumEntrada}})</span> 
          <span *ngIf="trade.precoSaida">- Saida: {{trade.precoSaida | number: '1.2-2'}} ({{trade.diaNumSaida}}) Pts: {{trade.pontuacao}}</span>
          <span *ngIf="!trade.precoSaida">- Atual: {{trade.precoAtual | number: '1.2-2'}}  ({{trade.percentualAtual | number: '1.2-2'}}%) {{trade.diaNumAtual}}</span>
          <span> - Melhor: {{trade.percentualMaximo | number: '1.1-1'}}% - Pior: {{trade.percentualMinimo | number: '1.1-1'}}% </span>
          <span> --> Dias: {{trade.qtdeDias }} </span>
          

        </div>
      </div>
    </div>
    <span  *ngFor="let previsao of listaAtual">
      {{previsao.ticker}}: {{previsao.valorPrevisao | number: '1.2-2'}} 
      <span class="dgc-link" *ngIf='(previsao.valorPrevisao > rede.limiteParaEntrada)' (click)="telaCompra(previsao)">
        ({{previsao.precoEntrada | number: '1.2-2'}})
      </span> ; 
  </span>
  </div>
  
</div>