<div class="main-content" *ngIf="listaBase">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Fundos 6 meses ({{listaBase.length}})</h4>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th width="10%">Ticker</th>
                  <th width="25%">Nome</th>
                  <th width="15%">Segmento</th>
                  <th width="20%">Administrador</th>
                  <th width="5%">Perc6</th>
                  <th width="5%">Perc12</th>
                  <th width="5%">Neg1</th>
                  <th width="10%">Atual</th>
                  <th width="10%"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of listaBase">
                  <td>{{item.ticker }}</td>
                  <td>{{item.nome }}</td>
                  <td>{{item.segmento}}</td>
                  <td>{{item.administrador}}</td>
                  <td>{{item.percentual6 | number: '1.1-1'}}</td>
                  <td>{{item.percentual12 | number: '1.1-1'}}</td>
                  <td>{{item.mediaNegocio1 | number: '1.1-1'}}</td>
                  <td>{{item.precoAtual | number: '1.2-2'}}</td>
                  <td align="right">
                    <a style="margin-left: 8px; margin-right: 8px;" routerLink="/cotacaoDiarioAcao/{{item.ticker}}">diario</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
