

<form *ngIf="item" class="example-full-width" (ngSubmit)="onSubmit()">


  <mat-dialog-content>
   
    <mat-form-field class="dgc-campo-form-50">
      <input matInput maxlength="30" #precoEntrada [(ngModel)]="item.precoEntrada" name="precoEntrada" placeholder="Preço Entrada (formato: 9.99) {{precoCompraExec | number: '1.2-2'}}" autocomplete="off" />
    </mat-form-field>
    <mat-form-field class="dgc-campo-form-50">
      <input matInput maxlength="30" #quantidade [(ngModel)]="item.quantidade" name="quantidade" placeholder="Quantidade" autocomplete="off" />
    </mat-form-field>

    <mat-form-field class="dgc-campo-form-50">
        <mat-select placeholder="Percentual Target" (selectionChange)="mudouTarget($event)" name="percentualTarget">
          <mat-option value="10">10%</mat-option>
          <mat-option value="11">11%</mat-option>
          <mat-option value="12">12%</mat-option>
          <mat-option value="13">13%</mat-option>
          <mat-option value="14">14%</mat-option>
          <mat-option value="15">15%</mat-option>
          <mat-option value="16">16%</mat-option>
          <mat-option value="17">17%</mat-option>
          <mat-option value="18">18%</mat-option>
          <mat-option value="19">19%</mat-option>
          <mat-option value="20">20%</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="dgc-campo-form-50">
      <mat-select placeholder="Percentual Stop" (selectionChange)="mudouStop($event)" name="percentualStop">
        <mat-option value="10">10%</mat-option>
        <mat-option value="11">11%</mat-option>
        <mat-option value="12">12%</mat-option>
        <mat-option value="13">13%</mat-option>
        <mat-option value="14">14%</mat-option>
        <mat-option value="15">15%</mat-option>
        <mat-option value="16">16%</mat-option>
        <mat-option value="17">17%</mat-option>
        <mat-option value="18">18%</mat-option>
        <mat-option value="19">19%</mat-option>
        <mat-option value="20">20%</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="dgc-campo-form-50">
      <input matInput maxlength="30" #precoTarget [(ngModel)]="item.precoTarget" name="precoTarget" placeholder="Preço Target (formato: 9.99) {{precoTargetExec | number: '1.2-2'}}" autocomplete="off" />
    </mat-form-field>
    <mat-form-field class="dgc-campo-form-50">
      <input matInput maxlength="30" #precoStop [(ngModel)]="item.precoStop" name="precoStop" placeholder="Preço Stop (formato: 9.99) {{precoStopExec | number: '1.2-2'}}" autocomplete="off" />
    </mat-form-field>

    <mat-form-field class="dgc-campo-form-50">
      <input matInput maxlength="30" #dataEntrada [(ngModel)]="item.dataEntrada" name="dataEntrada" placeholder="Data Entrada (formato: aaaa-mm-dd)" autocomplete="off" />
    </mat-form-field>
    <mat-form-field class="dgc-campo-form-50">
      <input matInput maxlength="30" #custoEntrada [(ngModel)]="item.custoEntrada" name="custoEntrada" placeholder="Custo Total Entrada (formato: 9.99)" autocomplete="off" />
    </mat-form-field>

    <mat-form-field class="dgc-campo-form-100">
      <input matInput maxlength="3" #posicaoAtual [(ngModel)]="item.posicaoAtual" name="posicaoAtual" placeholder="Posição" autocomplete="off" />
    </mat-form-field>

    <mat-form-field class="dgc-campo-form-100">
      <input matInput maxlength="30" #precoSaida [(ngModel)]="item.precoSaida" name="precoSaida" placeholder="Preço Venda (formato: 9.99)" autocomplete="off" />
    </mat-form-field>
    <mat-form-field class="dgc-campo-form-50">
      <input matInput maxlength="30" #dataSaida [(ngModel)]="item.dataSaida" name="dataSaida" placeholder="Data Saida (formato: aaaa-mm-dd)" autocomplete="off" />
    </mat-form-field>
    <mat-form-field class="dgc-campo-form-50">
      <input matInput maxlength="30" #custoSaida [(ngModel)]="item.custoSaida" name="custoSaida" placeholder="Custo Total Saida (formato: 9.99)" autocomplete="off" />
    </mat-form-field>





  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button>Salvar</button>
    <button mat-raised-button mat-dialog-close>Fechar</button>
  </mat-dialog-actions>

</form>
