<div class="dgc-painel">
  <div class="dgc-painel-header">
      <span>Treino Rede - Grupo</span>
      <button class="btn btn-primary btn-sm dgc-botao-comando dgc-direita" (click)="edita()">novo</button>
  </div>
  <div *ngIf="listaBase" class="dgc-painel-principal">
      <div class="dgc-card" *ngFor="let item of listaBase">
          <div class="dgc-card-detalhe">
            <span>Grupo Rede: {{item.grupoRede.nome}}</span>
          </div>
          <div class="dgc-card-detalhe">
            <span>Grupo Regra: {{item.grupoRegra.nome}}</span>
          </div>
          <div class="dgc-card-detalhe">
            <span>Período Treino: {{item.periodoTreinoRede.diaNumInicioTreino}}/</span>
            <span>{{item.periodoTreinoRede.diaNumFinalTreino}}</span>
          </div>
          <div class="dgc-card-detalhe">
            <span>Grupo Ação: {{item.grupoAcao.nome}}</span>
          </div>
          <div  class="dgc-card-comandos">
            <button class="btn-primary btn-sm btn" (click)="edita(item)">Treinos</button>
            <button class="btn-primary btn-sm btn" (click)="edita(item)">Editar</button>
          </div>
      </div>
  </div>
</div>
