<div class="dgc-painel">
  <div class="dgc-painel-header">
      <span>Emprestimos</span>
      <button class="btn btn-primary btn-sm dgc-botao-comando dgc-direita" (click)="edita()">novo</button>
  </div>
  <div *ngIf="listaBase" class="dgc-painel-principal">
      <div class="dgc-card" *ngFor="let item of listaBase">
          <div class="dgc-card-header">
            <span>{{item.nomePessoa}}</span>
            <span class="dgc-direita" *ngIf="(item.ativo==0)">inativo</span>
            <span class="dgc-direita" *ngIf="(item.ativo==1)">ativo</span>
          </div>
          <div class="dgc-card-detalhe">
            <span>Investimento: {{ item.valorEmprestimo | currency : 'BRL'}}</span>
          </div>
          <div class="dgc-card-detalhe">
            <span>Recebido: {{ item.totalRecebido | currency : 'BRL'}} ( {{getPercentualRecebido(item) | number : '1.2-2'}}% )</span>
          </div>
          <div class="dgc-card-detalhe">
            <span>Data: {{  item.dataCompra | date : 'dd/MM/yyyy' : 'UTC' }}</span>
          </div>
          <div  class="dgc-card-comandos">
              <button class="btn-primary btn-sm btn" [routerLink]="['/emprestimoP2PDetalhe' , item.id]">Parcelas</button>
              <button class="btn-primary btn-sm btn" (click)="edita(item)">Editar</button>
          </div>
      </div>
  </div>
</div>