
<div class="main-content">
  <div class="container-fluid">
    
    <div class="row">
      <div class="col-md-12">
        <div class="card"  *ngIf="listaBaseIndice">
          <div class="header">
            <h4 class="title">ExemploTreinoIndiceAcaoEntrada (inicio em 01-02-2022) < CotacaoIntradayIndiceResultado</h4>
            <button mat-raised-button color="primary" (click)="carregaTela()">Atualiza</button>
          </div>
          <div class="dgc-comando-correcao">Processo: InsereExemploTreinoIndiceEntradaPeriodo</div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th width="20%">Data Hora</th>
                  <th width="10%">Tipo Exemplo 1 (120 dias)</th>
                  <th width="10%">Tipo Exemplo 5 (10 dias)</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of listaBaseIndice">
                  <td>{{item.data  | date : 'dd/MM/yyyy' : 'UTC'}}</td>
                  <td>{{item.tipoExemplo1 }}</td>
                  <td>{{item.tipoExemplo5 }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


    
    <div class="row">
      <div class="col-md-12">
        <div class="card"  *ngIf="listaBase">
          <div class="header">
            <h4 class="title">Exemplo Entrada Treino  (ExemploTreinoAcaoEntrada < CotacaoIntradayAcao)</h4>
            <button mat-raised-button color="primary" (click)="carregaTela()">Atualiza</button>
          </div>
          <div class="dgc-comando-correcao">java -Xms128m -Xmx1024m -jar /root/aplicativos/InsereExemploTreinoAcaoEntradaPeriodo.jar 20230102 20230103 20</div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th width="20%">Data Hora</th>
                  <th width="10%">120 dias/Ref: 0</th>
                  <th width="10%">60 dias/Ref: 0</th>
                  <th width="10%">40 dias/Ref: 0</th>
                  <th width="10%">25 dias/Ref: 0</th>
                  <th width="10%">20 dias/Ref: 0</th>
                  <th width="10%">15 dias/Ref: 0</th>
                  <th width="10%">10 dias/Ref: 0</th>
                  <th width="10%">gerar saída</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of listaBase">
                  <td>{{item.data  | date : 'dd/MM/yyyy' : 'UTC'}}</td>
                  <td>{{item.quantidadeAcao120 }}</td>
                  <td>{{item.quantidadeAcao60 }}</td>
                  <td>{{item.quantidadeAcao40 }}</td>
                  <td>{{item.quantidadeAcao25 }}</td>
                  <td>{{item.quantidadeAcao20 }}</td>
                  <td>{{item.quantidadeAcao15 }}</td>
                  <td>{{item.quantidadeAcao10 }}</td>
                  <td>{{item.exemploSaida }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
