<div class="sidebar-wrapper">
  <div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text">
      <div class="logo-img">
        <img src="assets/img/angular2-logo-white.png" />
      </div>
      <span>Sisação 6</span>
    </a>
  </div>
  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/ativoAcao">
        <i class="fa fa-search"></i>
        <p>Ações</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/ativoOpcao">
        <i class="fa fa-search"></i>
        <p>Opções</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/ativoMercadoria">
        <i class="fa fa-search"></i>
        <p>Mercadorias</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/ativoImobiliario">
        <i class="fa fa-search"></i>
        <p>Imobiliario</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/dataSource">
        <i class="fa fa-search"></i>
        <p>DataSource</p>
      </a>
    </li>
  </ul>
</div>