<h2 *ngIf="item" mat-dialog-title>Projeção - {{item.diaNumPreferencia}}</h2>

<form *ngIf="item" class="example-full-width" (ngSubmit)="onSubmit()">

  <mat-dialog-content>


    <mat-form-field class="example-full-width">
      <input matInput #percentualProjetado [(ngModel)]="item.percentualProjetado" name="percentualProjetado" placeholder="Percentual (0.99)" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput #movimentacaoProjetada [(ngModel)]="item.movimentacaoProjetada" name="movimentacaoProjetada" placeholder="Moviementação (+/- 9.99)" />
    </mat-form-field>


  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button>Salvar</button>
    <button mat-raised-button mat-dialog-close>Fechar</button>
  </mat-dialog-actions>

</form>
