<h2 *ngIf="item" mat-dialog-title>Período Experimento</h2>

<form *ngIf="item" class="example-full-width" (ngSubmit)="onSubmit()">

  <mat-dialog-content>
   
    <mat-form-field class="example-full-width">
      <input matInput maxlength="40" #nome [(ngModel)]="item.nome" name="nome" 
      placeholder="Nome" autocomplete="off" />
    </mat-form-field>

    <mat-form-field class="example-half-width">
      <input matInput maxlength="10" #diaNumInicioTreino [(ngModel)]="item.diaNumInicioTreino" name="diaNumInicioTreino" 
      placeholder="Data Numérica Início Treino (yyyymmdd)" autocomplete="off" />
    </mat-form-field>

    <mat-form-field class="example-half-width">
      <input matInput maxlength="10" #diaNumFinalTreino [(ngModel)]="item.diaNumFinalTreino" name="diaNumFinalTreino" 
      placeholder="Data Numérica Final Treino (yyyymmdd)" autocomplete="off" />
    </mat-form-field>

    <mat-form-field class="example-half-width">
      <input matInput maxlength="10" #diaNumInicioValidacao [(ngModel)]="item.diaNumInicioValidacao" name="diaNumInicioValidacao" 
      placeholder="Data Numérica Início Validação (yyyymmdd)" autocomplete="off" />
    </mat-form-field>

    <mat-form-field class="example-half-width">
      <input matInput maxlength="10" #diaNumFinalValidacao [(ngModel)]="item.diaNumFinalValidacao" name="diaNumFinalValidacao" 
      placeholder="Data Numérica Final Validação (yyyymmdd)" autocomplete="off" />
    </mat-form-field>

    <mat-form-field class="example-half-width">
      <input matInput maxlength="10" #diaNumInicioValidacao [(ngModel)]="item.diaNumInicioTeste" name="diaNumInicioTeste" 
      placeholder="Data Numérica Início Teste (yyyymmdd)" autocomplete="off" />
    </mat-form-field>

    <mat-form-field class="example-half-width">
      <input matInput maxlength="10" #diaNumFinalValidacao [(ngModel)]="item.diaNumFinalTeste" name="diaNumFinalTeste" 
      placeholder="Data Numérica Final Teste (yyyymmdd)" autocomplete="off" />
    </mat-form-field>

    <mat-form-field class="example-half-width">
      <input matInput maxlength="10" #diaNumInicioExecucao [(ngModel)]="item.diaNumInicioExecucao" name="diaNumInicioExecucao" 
      placeholder="Data Numérica Início Execução (yyyymmdd)" autocomplete="off" />
    </mat-form-field>

    <mat-form-field class="example-half-width">
      <input matInput maxlength="10" #diaNumFinalExecucao [(ngModel)]="item.diaNumFinalExecucao" name="diaNumFinalExecucao" 
      placeholder="Data Numérica Final Execução (yyyymmdd)" autocomplete="off" />
    </mat-form-field>

    <mat-form-field class="example-half-width">
      <input matInput maxlength="3" #minimoTradeTeste [(ngModel)]="item.minimoTradeTeste" name="minimoTradeTeste" 
      placeholder="Mínimo Trade Teste" autocomplete="off" />
    </mat-form-field>

    <mat-form-field class="example-half-width">
      <input matInput maxlength="3" #maximoTradeTeste [(ngModel)]="item.maximoTradeTeste" name="maximoTradeTeste" 
      placeholder="Máximo Trade Teste" autocomplete="off" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput maxlength="3" #simultaneoTradeTeste [(ngModel)]="item.simultaneoTradeTeste" name="simultaneoTradeTeste" 
      placeholder="Simultâneo Trade Teste" autocomplete="off" />
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button>Salvar</button>
    <button mat-raised-button mat-dialog-close>Fechar</button>
  </mat-dialog-actions>

</form>

