<div class="card" *ngIf="listaBase">
  <div class="header">
    <h4 class="title">Target: {{dado.target * 100}}% - Tipo: {{dado.tipo}}
    </h4>
    <img *ngIf="exibeLoading" src="assets/img/aguardando.gif" width="200" height="60">
    <button mat-raised-button color="primary" (click)="atualiza()">Atualiza</button>
  </div>
  <div class="content table-responsive table-full-width">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Stop</th>
          <th>Regra</th>
          <th>Dia Mais Antigo</th>
          <th>Quantidade Ticker</th>
          <th>{{listaBase[0].regraProjecaoTotalMes[0].anoMesNum}} qtde </th>
          <th>{{listaBase[0].regraProjecaoTotalMes[0].anoMesNum}} lucro </th>
          <th>{{listaBase[0].regraProjecaoTotalMes[0].anoMesNum}} prejuizo </th>
          <th>{{listaBase[0].regraProjecaoTotalMes[0].anoMesNum}} saldo </th>
          <th>{{listaBase[0].regraProjecaoTotalMes[1].anoMesNum}} qtde </th>
          <th>{{listaBase[0].regraProjecaoTotalMes[1].anoMesNum}} lucro </th>
          <th>{{listaBase[0].regraProjecaoTotalMes[1].anoMesNum}} prejuizo </th>
          <th>{{listaBase[0].regraProjecaoTotalMes[1].anoMesNum}} saldo </th>
          <th>{{listaBase[0].regraProjecaoTotalMes[2].anoMesNum}} qtde </th>
          <th>{{listaBase[0].regraProjecaoTotalMes[2].anoMesNum}} lucro </th>
          <th>{{listaBase[0].regraProjecaoTotalMes[2].anoMesNum}} prejuizo </th>
          <th>{{listaBase[0].regraProjecaoTotalMes[2].anoMesNum}} saldo </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listaBase">
          <td>{{(item.stop * 100) | number: '1.0-0'}}%</td>
          <td>{{item.codigoRegraProjecao}}</td>
          <td>{{item.diaNumMaisAntigo}}</td>
          <td>{{(item.quantidadeTicker?item.quantidadeTicker:'')}}</td>
          <td>{{(item.regraProjecaoTotalMes.length>0?item.regraProjecaoTotalMes[0].quantidade:'')}}</td>
          <td>{{(item.regraProjecaoTotalMes.length>0?item.regraProjecaoTotalMes[0].quantidadeLucro:'')}}</td>
          <td>{{(item.regraProjecaoTotalMes.length>0?item.regraProjecaoTotalMes[0].quantidadePrejuizo:'')}}</td>
          <td>{{(item.regraProjecaoTotalMes.length>0?saldo(item,0):'')}}</td>
          <td>{{(item.regraProjecaoTotalMes.length>0?item.regraProjecaoTotalMes[1].quantidade:'')}}</td>
          <td>{{(item.regraProjecaoTotalMes.length>0?item.regraProjecaoTotalMes[1].quantidadeLucro:'')}}</td>
          <td>{{(item.regraProjecaoTotalMes.length>0?item.regraProjecaoTotalMes[1].quantidadePrejuizo:'')}}</td>
          <td>{{(item.regraProjecaoTotalMes.length>0?saldo(item,1):'')}}</td>
          <td>{{(item.regraProjecaoTotalMes.length>0?item.regraProjecaoTotalMes[2].quantidade:'')}}</td>
          <td>{{(item.regraProjecaoTotalMes.length>0?item.regraProjecaoTotalMes[2].quantidadeLucro:'')}}</td>
          <td>{{(item.regraProjecaoTotalMes.length>0?item.regraProjecaoTotalMes[2].quantidadePrejuizo:'')}}</td>
          <td>{{(item.regraProjecaoTotalMes.length>0?saldo(item,2):'')}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
