<h2 mat-dialog-title>Movimentação {{item.nome}}</h2>

<form *ngIf="item" class="example-full-width" (ngSubmit)="onSubmit()">

  <mat-dialog-content>
    <mat-form-field class="example-full-width">
      <input matInput maxlength="10" #valor [(ngModel)]="item.valor" name="valor" placeholder="Valor" autocomplete="off" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput maxlength="10" #data [(ngModel)]="item.data" name="data" placeholder="Data" autocomplete="off" />
    </mat-form-field>


    <mat-form-field class="example-full-width">
      <mat-select placeholder="Instituição" #regraSimulacaoId [(ngModel)]="item.instituicao" name="instituicaoFinanceiraId">
        <mat-option *ngFor="let instituicao of listaInstituicao" [value]="instituicao.id">
          {{ instituicao.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    

  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button>Salvar</button>
    <button mat-raised-button mat-dialog-close>Fechar</button>
  </mat-dialog-actions>

</form>