.dgc-card {
    width: 270px;
}

.dgc-disponivel {
    color: blue;
}
.dgc-vantagem {
    color: green
}

.dgc-destaque {
    font-weight: 400;
}


.marcatexto {
	box-shadow: 1px 0 0 0 #ffff00, -1px 0 0 0 #ffff00;
	background: #ffff00;
	display: inline;
	padding: 3px 0 !important;
	position: relative;
}