<div class="main-content" *ngIf="lista">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Criptomoedas({{lista.length}})</h4>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th width="20%">Ticker</th>
                  <th width="20%">Nome</th>
                  <th width="60%"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of lista">
                  <td><a routerLink='/cotacaoIntraCriptomoeda/{{item.ticker}}'>{{item.ticker}}</a></td>
                  <td>{{item.nome}}</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
