<div class="dgc-painel" *ngIf="experimento">
  <div class="dgc-painel-header">
    <span>{{experimento.codigo}} - {{experimento.quantidadeCombinacao}}</span>
    <span class="dgc-direita {{classeAlerta}}">{{qtdeProcessada}} ({{percentual | number : '1.1-1'}}%)</span>  
  </div>
  <div class="dgc-painel-header">
    <span>De: {{experimento.periodoExperimento.dataStrInicial}} até {{experimento.periodoExperimento.dataStrFinal}}</span>
  </div>
  
  <div class="dgc-painel-principal" *ngIf="lista">
    <div class="dgc-card" *ngFor="let item of lista" >
      <app-execucao-simulacao-display [item]="item"></app-execucao-simulacao-display>
    </div>
  </div>
</div>
