
<div class="main-content" *ngIf="listaBase">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Exemplo Entrada Treino</h4>
            <button mat-raised-button color="primary" (click)="carregaTela()">Atualiza</button>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th width="10%">Data Hora</th>
                  <th width="15%">120 dias/Ref: 0</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of listaBase">
                  <td>{{item.data  | date : 'dd/MM/yyyy' : 'UTC'}}</td>
                  <td>{{item.quantidadeAcao }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
