<div class="dgc-painel" *ngIf="listaBase">
  <div class="dgc-painel-header">
    <span>Grupo Treino: {{treinoGrupoRede.grupoAcao.nome}} ({{listaBase.length}})</span>
  </div>
  <div class="dgc-painel-detalhe">
    <div>Treino: {{treinoGrupoRede.periodoTreinoRede.diaNumInicioTreino}} até {{treinoGrupoRede.periodoTreinoRede.diaNumFinalTreino}}</div>
    <div>Validação: {{treinoGrupoRede.periodoTreinoRede.diaNumInicioValidacao}} até {{treinoGrupoRede.periodoTreinoRede.diaNumFinalValidacao}}</div>
    <div>Teste: {{treinoGrupoRede.periodoTreinoRede.diaNumInicioTeste}} até {{treinoGrupoRede.periodoTreinoRede.diaNumFinalTeste}}</div>
  </div>
  <div *ngIf="listaBase" class="dgc-painel-principal">
    <div class="dgc-card dgc-card1" *ngFor="let itemRegra of listaBase">

      <div class="dgc-card-header">
        <div>{{itemRegra.regraProjecao.codigoRegraProjecao}} (#{{itemRegra.regraProjecao.id}})</div>
      </div>
      <div class="dgc-card-detalhe">
        <div>Exemplos: {{itemRegra.regraProjecao.ultimaInsercao  | date : 'dd/MM/yyyy HH:mm' : 'UTC' }}</div>
        <div>Saídas: {{itemRegra.regraProjecao.exemploPercentualSaida  | number : '1.1-1' }}%</div>
        <div>Classe0: {{itemRegra.regraProjecao.exemploPercentualClasse0  | number : '1.1-1' }}%</div>
        <div>Classe1: {{itemRegra.regraProjecao.exemploPercentualClasse1  | number : '1.1-1' }}%</div>
        <div>Resultado: {{itemRegra.regraProjecao.exemploPercentualResultado  | number : '1.1-1' }}%</div>
      </div>

      <div class="dgc-card dgc-card2 {{classeAtivo(item)}}" *ngFor="let item of itemRegra.regraProjecao.treinoRedes">
  
        <div class="dgc-card-header">
          <span>{{item.redeNeural.nome}}</span>
          <span class="dgc-direita {{precisaTreino(itemRegra,item)}}"># {{item.id}}</span>
        </div>
 
        <div class="dgc-card-detalhe">
          <span>Treino: {{item.dataTreinamento  | date : 'dd/MM/yyyy HH:mm' : 'UTC' }}</span>
        </div>

        <div class="dgc-card-detalhe {{pendente(item.ativoTeste)}}">
          <div>
            <span>Dados Teste: {{item.ativoTeste}}</span>
          </div>
          <div>{{item.dataTeste  | date : 'dd/MM/yyyy HH:mm' : 'UTC' }}</div>
          <div>Média: {{item.mediaValorTeste | number : '1.2-2'}} - Desvio: {{item.desvioValorTeste | number : '1.2-2'}}</div>
        </div>

        <div class="dgc-card-detalhe {{pendente(item.ativoPrevisaoTeste)}}">
          <div>
            <span>Previsão Teste: {{item.ativoPrevisaoTeste}}</span>
            <span class="dgc-direita"><button class="btn-primary btn-sm btn" (click)="ativaPrevisaoTeste(item)">X</button></span>
          </div>
          <div>{{item.dataPrevisaoTeste  | date : 'dd/MM/yyyy HH:mm' : 'UTC' }}</div>
          <div>Limite Entrada: {{item.limiteParaEntrada}}</div>
          <div>Trades: {{item.qtdeTradeTeste}} ({{item.qtdeLucroTeste}} x {{item.qtdePrejuizoTeste}}) {{ ((item.qtdeLucroTeste / item.qtdeTradeTeste)*100) | number : '1.0-0' }}%</div>
          <div>Pontos: {{item.pontuacaoTeste | number : '1.0-0'}}</div>
 
        </div>

        <div  class="dgc-card-comandos">
          <img class="dgc-esquerda" *ngIf="itemRegra.regraProjecao.tipoCompraVenda=='C'" src="assets/img/compra.png" width="32" height="32">
          <img class="dgc-esquerda" *ngIf="itemRegra.regraProjecao.tipoCompraVenda=='V'" src="assets/img/venda.png" width="32" height="32">
          <!--<button class="btn-primary btn-sm btn" (click)="edita(item)">Edita</button>-->
       </div>
  
       <div>

      
    </div>
  </div>
</div>