<div class="dgc-painel">
  <div class="dgc-painel-header">
      <span>Períodos Experimento</span>
      <button class="btn btn-primary btn-sm dgc-botao-comando dgc-direita" (click)="edita()">novo</button>
  </div>
  <div *ngIf="listaBase">
      <div class="dgc-card" *ngFor="let item of listaBase">
          <div class="dgc-card-header">
            <span>De: {{item.dataStrInicial}} Até {{item.dataStrFinal}} - {{item.quantidadeMes}} meses (#{{item.id}})</span>
          </div>
          <div class="dgc-card-detalhe">
            <span>Coleta: </span><span>({{item.dataNumInicioColeta}})</span>
          </div>
          <div class="dgc-card-detalhe">
            <span>Validação: {{item.dataNumInicioValidacao}} até {{item.dataNumFinalValidacao}} - {{item.quantidadeMesValidacao}} mes(es)</span>
          </div>
          <div class="dgc-card-detalhe">
            <span>Pontos - Validação: {{item.minimoPontoValidacao}}  Exibição: {{item.minimoPontoExibicao}}</span>
          </div>
          <div class="dgc-card-detalhe">
            <span>Monitoria: Compra: {{item.tickerCompra}} ativos, {{item.quantidadeCompra}} simulações.</span>
          </div>
          <div class="dgc-card-detalhe">
            <span>Monitoria: Venda: {{item.tickerVenda}} ativos, {{item.quantidadeVenda}} simulações.</span>
          </div>
          <button class="btn-primary btn-sm btn" (click)="melhores(item)">Melhores</button>
          <button class="btn-primary btn-sm btn" (click)="monitoradas(item)">Monitoradas</button>
          <button class="btn-primary btn-sm btn" (click)="validacoes(item)">Validações</button>
          <button class="btn-sm btn" (click)="criaMonitorada(item)">Criar Monitoradas</button>
          <div *ngIf="(item.permiteEditar==1)" class="dgc-card-comandos">
              <button class="btn-primary btn-sm btn" (click)="edita(item)">Editar</button>
          </div>
      </div>
  </div>
</div>
