
<div class="main-content" *ngIf="listaBase">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Ações - Com Resultado Futuro ({{listaBase.length}}) (locaweb-java1)</h4>
            
          </div>
          <div class="dgc-comando-correcao">20 18 * * 1-5 java -jar /root/aplicativos/AtualizaIntradayResultado.jar 12 > AtualizaIntradayResultado.log</div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th width="10%">Ticker</th>
                  <th width="20%">Resultado mais recente</th>
                  <td width="10%">Intraday15</td>
                  <th width="60%">Grupos</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of listaBase">
                  <td>{{item.ticker}}</td>
                  <td *ngIf="(item.cotacaoIntradayAcaoResultados.length>0)">{{item.cotacaoIntradayAcaoResultados[0].dataHora | date : 'dd/MM/yyyy HH:mm' : 'UTC'}}</td>
                  <td *ngIf="(item.cotacaoIntradayAcaoResultados.length==0)">não encontrado</td>
                  <td>{{item.intraday15}}</td>
                  <td>{{grupos(item)}}</td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


