<h2 *ngIf="item" mat-dialog-title>Compra - {{item.ticker}}</h2>

<form *ngIf="item" class="example-full-width" (ngSubmit)="onSubmit()">


  <mat-dialog-content>
   
    <mat-form-field class="example-full-width">
      <input matInput maxlength="30" #precoEntrada [(ngModel)]="item.precoEntrada" name="precoEntrada" placeholder="Preço Compra" autocomplete="off" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput maxlength="30" #quantidade [(ngModel)]="item.quantidade" name="quantidade" placeholder="Quantidade" autocomplete="off" />
    </mat-form-field>


  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button>Salvar</button>
    <button mat-raised-button mat-dialog-close>Fechar</button>
  </mat-dialog-actions>

</form>