<div class="sidebar-wrapper">
  <div class="logo">
    <a routerLink="/home" class="simple-text">
      <div class="logo-img">
        <img src="assets/img/angular2-logo-white.png" />
      </div>
      <span routerLink="/home">Sisação 6</span>
    </a>
  </div>

  <p>Dados Para Treino</p>
  <ul class="nav responsive-nav novo-menu">
    <li width="100%">
      <a routerLink="/periodoTreinoRedeLista">
        <i class="fa fa-search"></i>
        <p>Período</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/grupoAcao">
        <i class="fa fa-search"></i>
        <p>Grupo Ação</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/redeNeuralLista">
        <i class="fa fa-search"></i>
        <p>Regra Saída</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/redeNeuralLista">
        <i class="fa fa-search"></i>
        <p>Tipo Exemplo</p>
      </a>
    </li>
  </ul>


  <p>Execução Treino</p>
  <ul class="nav responsive-nav novo-menu">
    <li width="100%">
      <a routerLink="/treinoGrupoLista">
        <i class="fa fa-search"></i>
        <p>Treino Rede - Grupos</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/redeNeuralLista">
        <i class="fa fa-search"></i>
        <p>Redes</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/valorMesSaldo">
        <i class="fa fa-search"></i>
        <p>Patrimonio Mensal</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/planoMensal">
        <i class="fa fa-search"></i>
        <p>Plano Aplicação</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/patrimonioEvolucaoMensal">
        <i class="fa fa-search"></i>
        <p>Patrimonio Mensal - Evolucao</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/alocacaoSaldoMes">
        <i class="fa fa-search"></i>
        <p>Alocação de Recursos - Saldos</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/alocacaoMovimentacao">
        <i class="fa fa-search"></i>
        <p>Alocação de Recursos - Movimentação</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/ativoAcao">
        <i class="fa fa-search"></i>
        <p>Ações</p>
      </a>
    </li>
 
    <li width="100%">
      <a routerLink="/ativoAcaoResultadoFuturo">
        <i class="fa fa-search"></i>
        <p>Ações com resultados</p>
      </a>
    </li>
     <li width="100%">
      <!-- <a routerLink="/ativoIndice"> -->
      <a routerLink="/cotacaoIntraIndice/ibov">
        <i class="fa fa-search"></i>
        <p>Indices</p>
      </a>
    </li>
    <!--
    <li width="100%">
      <a routerLink="/ativoCriptomoedaFoxbit">
        <i class="fa fa-search"></i>
        <p>Criptomoedas - Foxbit</p>
      </a>
    </li>
    -->
    <li width="100%">
      <a routerLink="/ativoCriptomoeda">
        <i class="fa fa-search"></i>
        <p>Criptomoedas</p>
      </a>
    </li>
 
    <li width="100%">
      <a routerLink="/rendaPrivadaMelhores">
        <i class="fa fa-search"></i>
        <p>Renda Fixa - Melhores</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/ativoMercadoria">
        <i class="fa fa-search"></i>
        <p>Mercadorias</p>
      </a>
    </li>
    <!--
    <li width="100%">
      <a routerLink="/fundoImobiliarioMelhores">
        <i class="fa fa-search"></i>
        <p>FII - Valorização</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/fundoImobiliarioAluguelMelhores">
        <i class="fa fa-search"></i>
        <p>FII - Rentabilidade</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/fundoImobiliarioMelhorEstabilidade">
        <i class="fa fa-search"></i>
        <p>FII - Estabilidade</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/imobiliarioIntraday">
        <i class="fa fa-search"></i>
        <p>FII - Intraday</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/ativoImobiliario">
        <i class="fa fa-search"></i>
        <p>FII - Geral</p>
      </a>
    </li>
    -->
    <li width="100%">
      <a routerLink="/fundoImobiliarioCarteira">
        <i class="fa fa-search"></i>
        <p>FII - Carteira</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/fundoImobiliarioCarteiraSemCarteira">
        <i class="fa fa-search"></i>
        <p>FII - Carteira (Tableless)</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/startupEmpresa">
        <i class="fa fa-search"></i>
        <p>Startup</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/startupFundo">
        <i class="fa fa-search"></i>
        <p>Fundos Startup</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/dataSet">
        <i class="fa fa-search"></i>
        <p>DataSets</p>
      </a>
    </li>

    <!--
    <li width="100%">
      <a routerLink="/regraSimulacao">
        <i class="fa fa-search"></i>
        <p>Regra Simulação</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/experimentoSimulacao">
        <i class="fa fa-search"></i>
        <p>Experimento Simulação</p>
      </a>
    </li>
 
    <li width="100%">
      <a routerLink="/periodoExperimento">
        <i class="fa fa-search"></i>
        <p>Períodos Experimento</p>
      </a>
    </li>
    -->

    <li width="100%">
      <a routerLink="/grupoAcao">
        <i class="fa fa-search"></i>
        <p>Grupo Ação Simulação</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/tradeReal">
        <i class="fa fa-search"></i>
        <p>Trades Reais</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/tradeRealVisual">
        <i class="fa fa-search"></i>
        <p>Trades Reais Visual</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/pontoEntradaSimulacaoDia">
        <i class="fa fa-search"></i>
        <p>Entrada Compra</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/pontoEntradaSimulacaoDiaVenda">
        <i class="fa fa-search"></i>
        <p>Entrada Venda</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/ordemCompra">
        <i class="fa fa-search"></i>
        <p>Ordens Compra</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/tipoAplicacao">
        <i class="fa fa-search"></i>
        <p>Tipo Aplicação</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/quadroComparaStopGeral/V">
        <i class="fa fa-search"></i>
        <p>Regra Projeção Geral</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/cotacaoIntradayResultadoAcao">
        <i class="fa fa-search"></i>
        <p>Intraday Resultado Ação</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/exemploIntradayResultadoAcao">
        <i class="fa fa-search"></i>
        <p>Exemplo Resultado Ação - Antigo</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/exemploIntradayResultadoAcaoSaida">
        <i class="fa fa-search"></i>
        <p>Exemplo Resultado Ação - Novo</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/exemploEntradaLista">
        <i class="fa fa-search"></i>
        <p>Exemplo Entrada Treino</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/exemploSaidaResumo">
        <i class="fa fa-search"></i>
        <p>Exemplo Saída Treino</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/resumoTradeReal">
        <i class="fa fa-search"></i>
        <p>Resumo Trade Real</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/resumoTradeReal2">
        <i class="fa fa-search"></i>
        <p>Resumo Trade Real 2</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/tradeAtivo">
        <i class="fa fa-search"></i>
        <p>Trades Ativos</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/regraProjecao">
        <i class="fa fa-search"></i>
        <p>Regra Projeção</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/grupoRegraLista">
        <i class="fa fa-search"></i>
        <p>Regra Projeção - Grupos</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/regraProjecaoData">
        <i class="fa fa-search"></i>
        <p>Regra Projeção - Datas</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/grupoRedeLista">
        <i class="fa fa-search"></i>
        <p>Rede - Grupos</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/redeNeuralLista">
        <i class="fa fa-search"></i>
        <p>Redes</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/treinoRedeEvolucao">
        <i class="fa fa-search"></i>
        <p>Treino Rede Evolução</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/periodoTreinoRedeLista">
        <i class="fa fa-search"></i>
        <p>Período Treino Redes</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/treinoGrupoLista">
        <i class="fa fa-search"></i>
        <p>Treino Redes - Grupo</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/treinoRedeLista">
        <i class="fa fa-search"></i>
        <p>Treino Redes</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/previsaoRedeListaDia">
        <i class="fa fa-search"></i>
        <p>Previsão Redes</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/previsaoHistorico">
        <i class="fa fa-search"></i>
        <p>Previsão Histórico</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/emprestimoP2PLista">
        <i class="fa fa-search"></i>
        <p>PicPay</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/emprestimoP2PMesCorrente">
        <i class="fa fa-search"></i>
        <p>PicPay - Mês</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/tesouroDiretoLista">
        <i class="fa fa-search"></i>
        <p>Tesouro Direto</p>
      </a>
    </li>
    <li width="100%">
      <a routerLink="/indicadorRedeResumo">
        <i class="fa fa-search"></i>
        <p>Performance Rede Ação</p>
      </a>
    </li>
  </ul>
</div>